.note-container{
  background: #3876BF;
  padding: 35px 70px;
  border: 2px solid rgba(0,0,0,1);
  box-shadow: 15px 15px 1px #222831, 15px 15px 1px 2px rgba(0,0,0,1);
  width: 300px;
  color: #EEF5FF;
  font-family: "Inter", sans-serif;
  float: left;
  margin: 40px;
  font-size: 14px;
  height: 250px;
  word-wrap: break-word;
  overflow: auto;
}

.delete-button{
  display: block;
  margin: 0 auto;
  line-height: 38px;
  padding: 0 20px;
  background: #B80000;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px #750E21, 3px 3px 1px 2px rgba(0,0,0,1);
}

.delete-button:hover{
  background: rgba(0,0,0,1);
  color: white;
  border: 1px solid rgba(0,0,0,1);
}

.delete-button::selection{
  background: #ffc8ff;
}

.note-container::-webkit-scrollbar {
  width: 12px;
}

.note-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

/* Para navegadores no basados en WebKit */
.note-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.note-container::-webkit-scrollbar-track {
  background: transparent;
}

